{% extends "layout.html" %}

{% block title %}
  {{ book.title }}
{% endblock %}

{% block body %}

    <h4 style="text-align: center;">{{ book.title }}</h4>
    <p><b>Author: </b>  {{ book.author }}</p>
    <p><b>Publication Year: </b> {{ book.year }}</p>
    <p><b>ISBN: </b>  {{ book.isbn }}</p>
    <div style="background: ghostwhite; padding: 10px;">
      {% if rarekey == 0 %}
        <p> <b><i>Rate and Review the book: </i></b> </p>
        <form action="{{ url_for('rare', book_id= book.id) }}" method="post">
          <i>Choose star rating: </i>
          <div class="form-group">
            <div>
              <input id="rate1" type="radio" name="rate" value="1" required>
              <label for="rate1">:⭐</label>
            </div>
            <div>
              <input id="rate2" type="radio" name="rate" value="2" required>
              <label for="rate2">:⭐⭐</label>
            </div>
            <div>
              <input id="rate3" type="radio" name="rate" value="3" required>
              <label for="rate3">:⭐⭐⭐</label>
            </div>
            <div>
              <input id="rate4" type="radio" name="rate" value="4" required>
              <label for="rate4">:⭐⭐⭐⭐</label>
            </div>
            <div>
              <input id="rate5" type="radio" name="rate" value="5" required>
              <label for="rate5">:⭐⭐⭐⭐⭐</label>
            </div>
          </div>
          <i>Write a review: </i>
          <textarea class="form-control col-lg-5 col-md-7 col-sm-9 col-11" name="reviewarea" rows="4" placeholder="Please write a review: " required></textarea><br>
          <button type="submit" name="reviewbtn" class="btn btn-primary">Rate and Review</button>
        </form>
      {% else %}
        <p>Your Rating: <b>{{ rating }}</b></p>
        <p>Your Review: <b>{{ review }}</b></p>
      {% endif %}
    </div>

    <br>

    <div style="background: ghostwhite; padding: 10px;">
        <h5><b><i>goodreads</i></b>'s reviews: </h5>
        <p>Ratings count: <b>{{ ratC }}</b></p>
        <p>Average rating: <b>{{ avgR }}</b></p>
    </div>

    <br>

    <div style="background: ghostwhite; padding: 10px;">
        <h5><b><i>BookSniffer</i></b>'s reviews: </h5>
        <p>Ratings count: <b>{{ ratCb }}</b></p>
        <p>Average rating: <b>{{ avgRb }}</b></p>
    </div>
{% endblock %}
