{% extends "layout.html" %}

{% block title %}
  Sign Up!
{% endblock %}

{% block body %}
  <form action="{{ url_for('signup') }}" method="post">
    <div class="form-group">
      {% if keyForSignup == 0 %}
      <div class="col-lg-4 col-8 col-sm-7">
        <label for="">Name: </label>
        <input class="form-control" pattern="[A-Za-z\s]{3,50}" title="Only Alphabats and 3-50 letters." type="text" name="name" placeholder="Enter your name" required>
      </div>
      <div class="col-lg-4 col-8 col-sm-7">
        <label for="">Create Username: </label>
        <input class="form-control" pattern="[\S]+" title="No spaces allowed" type="text" name="username" placeholder="Create username" required><br>
      </div>
      {% endif %}
      {% if  keyForSignup == 1 %}
      <div class="col-lg-4 col-8 col-sm-7">
        <label for="">Create Password: </label>
        <input class="form-control" pattern=".{3,50}" title="3-50 letters." type="password" name="password" placeholder="Create a Password" required><br>
      </div>
      {% endif %}
      <div class="col-lg-2 col-4 col-sm-4">
        <button type="submit" class="btn btn-outline-success form-control" name="submitUserSignUp" value="{{ g.name }}{{ keyForSignup }}{{ g.user }}">Sign Up!</button>
      </div>

    </div>
  </form>
{% endblock %}
